/* slider.css */

.slider-title {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-card {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 18rem;
    cursor: pointer;
    
  }
  
  .image-card:hover {
    transform: scale(1.05);
  }
  
  .image-card img {
    max-width: 100%;
    max-height: 200px !important;
    min-height: 200px !important;
    border-radius: 5px 5px 0 0;
  }
  
  .edit-button {
    margin: 5px;
    background-color: #007bff;
    color: #fff;
  }
  
  .delete-button {
    margin: 5px;
    background-color: #dc3545;
    color: #fff;
  }
  
  .dropzone {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .dropzone p {
    margin: 5px 0;
  }