.badge-top-right {
    position: absolute;
    top: 15px;
    right: 5px;
  }
  
  .Cheader{
    border-bottom: none ;
    border: none;
    height: 80px;
    background-color: rgb(36, 15, 154);
  }
  
  .contactUsbtn{
    background-color: red;
   }