

.adminRoute {
    overflow-x: hidden !important ;
    margin-bottom: 10%;
    min-height: 70vh !important; 
  
  }
  
  main{
    max-width: 50%;
   margin-bottom: 10%;
    min-height: 100vh;
  }
  