/* .mobile-nav{
    background-color: #99080C;
} */

.Nav.Link{
  color: white;
}
/* Hide mobile-nav for screens with a width greater than 768px */
.white-toggler {
  color: white;
}

.white-toggler {
  color: white; /* Set the text color to white */
}

.white-toggler .navbar-toggler-icon {
  color: white; /* Set the background color of the "hamburger" icon to white */
}
.d-inline{
display: inline;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: 2%;
  max-width: fit-content;
}
.input-search{
  float: end;
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #00000000;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}




@media screen and (min-width: 769px) {
  .btn-search:focus ~ .input-search{
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}

/* Hide desktop-nav for screens with a width up to 768px */
@media screen and (max-width: 768px) {
  .btn-search:focus ~ .input-search{
    width: 135px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
  }
  .input-search:focus{
    width: 125px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
  }
}
@media (max-width: 767px) {
  /* Set the width for screens with a max-width of 767px (typical mobile devices) */
  .custom-drawer{
    width: 75%;
  }
}
.category-item2 img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%;
  object-fit: cover;
}
.category-item2 .img {
  width: 50px; /* Adjust the width as needed */
  height: 0px; /* Adjust the height as needed */
  border-radius: 50%;
  object-fit: cover;
}

.category-item2 p {
  margin: 10px 0;
}

.category-item2 {
  
}
